body {
    
    header {

        
        font-family: 'Cinzel Decorative', cursive;
        color: #2a2a2a;
        background-color: rgb(236, 242, 240);
        text-align: center;
        
        ul {
            text-align: center;
            list-style-type: none;
        }

        a {
            color: red;
            text-decoration:  none;
        }

        a::hover {
            color: blueviolet;
        }
    
    }

        
    img {
        display: block;
        padding-top: 20.15px;
    }
}


